# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local

# Virtual Environments
venv/
env/
.venv/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Alexa/Skill
.ask/

# Temporary
/tmp/
